.contact-us-section {
    background-repeat: no-repeat;
    padding: 100px 0;
    background-position: right bottom;
    .contant-us-section-row {
        align-items: center;
        .col-lg-6 {
            .main-contact-us-box {
                border-radius: 6px;
                box-shadow: 1px 0 10px 2px #f6f6f6;
                background-color: #fff;
                .welcome-text {
                    font-family: "Varela", sans-serif;
                    font-size: 16px;
                    color: #95c01f !important;
                }
                .section-title {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 24px;
                    color: #222222;
                    font-weight: 600;
                }
                .list-unstyled {
                    li {
                        margin-bottom: 0.25rem;
                        a{
                            color: #9B9B9B;
                            &:not([href]){
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .contact-us-section{
        .container{
            .contant-us-section-row{
                .col-lg-6{
                    padding-bottom: 1rem;
                }
            }
        }
    }
}
