body {
    font-family: "Varela", sans-serif;
    color: #222222;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 360px;
    z-index: 1;
    top: 73px;
    right: 46px;
    .list-order {
        display: inline-block;
        width: 100%;
        p {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin: 80px 0;
        }
    }
    .footer-dropdown {
        list-style: none;
        padding: 10px 15px;
        display: inline-block;
        width: 100%;
        background-color: #fff;
        li {
            display: inline-block;
            width: 48%;
        }
        .price {
            text-align: right;
            font-size: 20px;
            font-weight: bold;
            vertical-align: middle;
        }
    }
}

.custom-dropdown {
    &:hover .dropdown-content {
        display: block;
    }
}
.nav-item {
    &:hover .dropdown-menu {
        display: block;
    }
}

nav {
    .container {
        #navbarResponsive {
            .navbarHeader {
                .nav-item {
                    margin-right: 0.2em;
                    .nav-link {
                        color: #3b8a00;
                        font-size: 17px;
                        border-top: 2px solid transparent;
                        border-bottom: 2px solid transparent;
                        transition: all 0.5s;
                        font-family: "Varela", sans-serif;
                        font-weight: 600;
                        &:hover {
                            border-color: #f90407;
                        }
                    }
                    .login-button {
                        i {
                            color: #535353;
                        }
                        span {
                            color: #535353;
                            display: inline-block;
                        }
                    }
                }
                .custom-dropdown {
                    .order-button {
                        border: none;
                        background-color: #95c01f;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        color: #fff !important;
                        font-family: "Varela", sans-serif;
                        text-align: center;
                        width: 120px;
                        &:hover {
                            border: none;
                            border-color: none;
                        }
                    }
                }
            }
        }

        .hidden-sm {
            .telephoneHead {
                color: #fff;
                position: absolute;
                top: 0;
                height: 100%;
                background: #03a84e;
                font-family: Arial;
                padding-top: 18px;
                padding-left: 5px;
                padding-right: 5px;
                font-weight: bold;
                font-size: 26px;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    nav {
        .container {
            #navbarResponsive {
                .navbarHeader {
                    .nav-item {
                        .nav-link {
                            width: fit-content !important;
                        }
                        .dropdown-menu {
                            width: fit-content;
                        }
                    }
                    .custom-dropdown {
                        .order-button {
                            position: relative;
                            width: 120px;
                            padding-right: 5px;
                            padding-left: 5px;
                        }
                        &:hover .dropdown-content {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    nav {
        .mobileMenuAlt {
            display: none;
        }
    }
}
@media only screen and (max-width: 768px) {
    nav {
        .container{
            .hidden-sm{
                .telephoneHead{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    nav {
        .mobileMenuAlt {
            display: inline-block;
            width: 100%;
            border-top: 2px solid #e4e4e463;
            transition: all 0.3s ease;
            position: relative;
            height: 70px;
            will-change: height;
            color: #ff0505;
            .container {
                .phones {
                    position: absolute;
                    top: 5px;
                    left: 14px;
                    .phone {
                        font-size: 15px;
                        a {
                            color: #3e3e3e;
                            font-size: 20px;
                        }
                    }
                    .subphone {
                        padding-left: 1px;
                        font-size: 17px;
                        a {
                            color: #3e3e3e;
                            font-size: 20px;
                            strong {
                                color: #a3c600;
                            }
                        }
                    }
                }
                .cart {
                    position: absolute;
                    width: 121px;
                    height: 59px;
                    right: 10px;
                    top: 0px;
                    padding: 0;
                    font-size: 14px;
                    color: #9a9a9a;
                    background: 0 0;
                    .cart-inner {
                        i {
                            position: relative;
                            float: left;
                            margin-top: 17px;
                            z-index: 5;
                            font-size: 30px;
                            color: #a3c600;
                        }
                        .txt {
                            position: relative;
                            float: right;
                            z-index: 2;
                            transition: all 0.3s ease;
                            width: 80px;
                            line-height: 40px;
                            padding-left: 5px;
                            padding-top: 13px;
                            a {
                                font-size: 17px;
                                color: #3e3e3e;
                            }
                        }
                    }
                }
            }
        }
    }
}
