body {
    background-image: url("https://bellapizza.az/app/templates/main/images/bg.png");
}

.sectionList {
    padding: 50px 0;
    .container {
        .product-list {
            .col-sm-12 {
                .anchor {
                    border-top: 0 none;
                    margin-top: 5px !important;
                    margin-bottom: 15px !important;
                    line-height: 32px;
                    border-bottom: 1px solid #dadada;
                    color: green;
                    background-color: #ffffff91;
                    font-size: 26px !important;
                    text-align: center !important;
                    border-radius: 6px;
                    padding-bottom: 3px;
                }
            }
            .col-lg-3 {
                .menu-box-with-order {
                    cursor: pointer;
                    background: #fff;
                    border: 1px solid #f2f2f2;
                    border-radius: 6px;
                    transition: box-shadow 0.3s ease-in-out;
                    .img {
                        height: 142px;
                        position: relative;
                        img {
                            max-width: 100%;
                            max-height: 142px;
                            margin: 0 auto;
                            display: block;
                        }
                        .menu-box-new {
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            font-size: 18px;
                            background: green;
                            font-family: "Varela", sans-serif;
                            padding: 0 0.3rem 0;
                            color: #ffffff;
                            border-radius: 6px;
                        }
                    }
                    .textSec {
                        height: 155px;
                        display: inline-block;
                        width: 100%;
                        position: relative;
                        .text-green {
                            color: #95c01f;
                            font-family: "Varela", sans-serif;
                            font-weight: 600;
                        }
                        .section-text-grey {
                            color: #9b9b9b;
                            font-size: 100%;
                            font-family: Arial, sans-serif;
                        }
                        .hide {
                            display: none;
                        }
                        .countProduct {
                            padding-left: 1rem;
                            color: #969696;
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                        }
                        .menu-box-price {
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            font-size: 20px;
                            font-family: "Varela", sans-serif;
                            color: #ffffff;
                            margin-top: 5px;
                            display: inline-block;
                            width: 100%;
                            .now-price {
                                background: #ff0205;
                                padding: 0.1rem 0.3rem;
                                border-radius: 6px;
                                .manat {
                                    font-family: "JISAZNRegular";
                                }
                            }
                            .manat {
                                font-family: "JISAZNRegular";
                            }
                        }
                    }
                }
            }
            .category_3 {
                .menu-box-with-order {
                    .textSec {
                        height: 75px;
                    }
                }
            }
        }
    }
    .modal {
        width: 100%;
        height: 100%;
        .modal-dialog {
            transform: none;
            .modal-content {
                .modal-header {
                    .close {
                        font-size: 14px;
                        opacity: 1;
                        background: #ffff;
                        padding: 0;
                        position: absolute;
                        right: 12px;
                        text-align: center;
                        top: 6px;
                        width: 25px;
                        height: 25px;
                        text-decoration: none;
                        border-radius: 12px;
                        transition: all 0.5s ease-out;
                        box-shadow: 0 0 10px #000;
                    }
                }
                .modal-body {
                    .formItem {
                        .menu-box-with-order {
                            border: none;
                            cursor: pointer;
                            background: #fff;
                            border-radius: 6px;
                            transition: box-shadow 0.3s ease-in-out;
                            .col-xs-12 {
                                .modalImage {
                                    height: 250px !important;
                                    position: relative;
                                    .img-modal {
                                        height: 230px !important;
                                        max-width: 100%;
                                        margin: 0 auto;
                                    }
                                }
                            }
                            .col-xs-12 {
                                .mt-3 {
                                    .textSec {
                                        height: 115px !important;
                                        display: inline-block;
                                        width: 100%;
                                        position: relative;
                                        .text-green {
                                            font-family: "Varela", sans-serif;
                                            color: #95c01f;
                                        }
                                        .section-text-grey {
                                            color: #9b9b9b;
                                            font-size: 100%;
                                            font-family: Arial, sans-serif;
                                        }
                                    }
                                    .countProduct {
                                        position: relative;
                                        margin-top: 8px;
                                        float: right;
                                        padding-left: 1rem;
                                        color: #969696;
                                        bottom: 10px;
                                        right: 10px;
                                        display: none;
                                    }
                                    .menu-box-price {
                                        width: 30%;
                                        margin-bottom: 10px;
                                        position: initial;
                                        bottom: 10px;
                                        left: 10px;
                                        font-size: 20px;
                                        font-family: "Varela", sans-serif;
                                        color: #ffffff;
                                        margin-top: 5px;
                                        display: inline-block;
                                        .food-price {
                                            .now-price {
                                                background: #ff0205;
                                                padding: 0.1rem 0.3rem;
                                                border-radius: 6px;
                                            }
                                        }
                                    }
                                    .qty-box {
                                        width: 30%;
                                        display: inline-block;
                                        text-align: center;
                                        .inputQtyUpdate {
                                            i {
                                                font-size: 24px;
                                                display: inline-block;
                                                vertical-align: sub;
                                                color: #ce0003;
                                                border-radius: 40%;
                                            }
                                        }
                                        input {
                                            width: 50px;
                                            display: inline-block;
                                            height: 32px;
                                        }
                                        .form-control {
                                            background-color: #e9ecef;
                                            opacity: 1;
                                            font-size: 1.1rem;
                                            padding: 0.375rem 0.75rem;
                                            font-weight: 400;
                                            line-height: 1.5;
                                            color: #495057;
                                            background-clip: padding-box;
                                            border: 1px solid #ced4da;
                                            border-radius: 0.25rem;
                                            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                                        }
                                    }
                                }
                                .bottomBtn {
                                    margin-top: 0 !important;
                                    padding-top: 0 !important;
                                    .btnBella {
                                        background-color: #95c01f;
                                        color: #fff;
                                        display: inline-block;
                                        text-decoration: none;
                                        width: 100%;
                                        transition: all 0.3s ease;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .sectionList {
        .container {
            .product-list {
                .col-lg-3 {
                    .menu-box-with-order {
                        .textSec {
                            .countProduct {
                                .mobAddBasket {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .hidden-md {
                    display: none;
                }
            }
        }
    }
}
